<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h2>Show the count of tuples</h2>
    <h3><%=count %></h3>
    
</body>
</html>