<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <form action="/postnew" method="post">
        <input type="text" name="userid" placeholder="type your unique id">
        <input type="text" name="name" placeholder="type your name">
        <input type="text" name="email" placeholder="type email">
        <input type="password" name="password" placeholder="type password">
        <button>submit</button>
    </form>
</body>
</html>